 <h1>Search Restaurants</h1>
<p>Find me in app/views/restaurants/search.html.erb</p>

<%= form_tag(restaurants_search_path, :method=>'get') do %>
	<%= text_field_tag :search %>
	<%= submit_tag "Search" %>
<% end %>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th></th>
		</tr>
	</thead>	
	<tbody>		
		<% @restaurants.each do |restaurant| %>	
		<tr>
			<td><%= restaurant["name"] %></td>
			<td><%= restaurant["categories"][0]["name"] unless restaurant["categories"][0].nil? %></td>
			<td><%= link_to 'Favorite' , restaurants_new_favorite_path(favorites: {name: restaurant["name"], category: (restaurant["categories"][0]["name"] rescue "")}) , method: :post %></td>
		<% end %>
		</tr>
	</tbody>
</table>