<h1>Search Restaurants</h1>
<p>Find me in app/views/restaurants/search.html.erb</p>

<small>Into the following form, you must insert a text to be filtered to get restaurants (remove this suggestion)</small>

<%= form_tag(restaurants_search_path, :method =>'get') do %>
	<%= text_field_tag :search %>
	<%= submit_tag "Search" %>
<% end %>

<small>Into the following table, you must list the restaurants that user found (remove this suggestion)</small>

<table>
	<thead>
		<tr>
			<th>Name </th>
			<th>Category</th>
			<th></th>
		</tr>
	</thead>	
	<tbody> 

		<% @restaurants.each do |rest| %>
		<tr>
			<td> <%=rest["name"]%> </td>
			<td> <%=rest["categories"][0]["name"]%> 	</td>
			<td> 
				<%=form_tag restaurants_create_favorite_path, method: "post", remote:true do %>
				<%=hidden_field_tag :name, rest["name"] %>
				<%=hidden_field_tag :category, rest["categories"][0]["name"]%>
				<%=submit_tag "Añadir a mis favoritos"%>
				<%end%>
			</td>%>
		</tr>
		<%end%>
	</tbody>
</table>
