<h1>Search Restaurants</h1>
<p>Find me in app/views/restaurants/search.html.erb</p>


<%= form_tag :restaurants_search , method: "get" do %>
	<%= text_field_tag :search %>
	<%= submit_tag "Search" %>
<% end %>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @restaurants.each do |restaurant| %>
			<tr>
				<td> <%=restaurant["name"] %> </td>
				<td> <%=restaurant["categories"][0]["name"] %></td>
				<%= form_tag :restaurants_new_favorite, method: "post", remote: true do %>
					<%= hidden_field_tag :name_r , restaurant["name"] %>
					<%= hidden_field_tag :category_r , restaurant["categories"][0]["name"] %>
					<td> <%= submit_tag "Add Favorite" %> </td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
