<h1>Search Restaurants</h1>
<p>Find me in app/views/restaurants/search.html.erb</p>

<small>Into the following form, you must insert a text to be filtered to get restaurants (remove this suggestion)</small>

<%= form_tag restaurants_search_path, method: :get do %>
	<%= text_field_tag :search %>
	<%= submit_tag "Search" %>
<% end %>

<small>Into the following table, you must list the restaurants that user found (remove this suggestion)</small>



<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Favorito</th>
		</tr>
	</thead>
	<tbody>
		<% @result.each do |restaurant| %>
			<tr>
				<td><%= restaurant.name %></td>
				<td> 
					<form method="get" action="favorite">
						<input type="hidden" name="name" value="<%= restaurant.name %>">
    					<button type="submit">Favorito</button>
					</form>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
