<h1>Search Restaurants</h1>
<p>Find me in app/views/restaurants/search.html.erb</p>

<small>Into the following form, you must insert a text to be filtered to get restaurants</small>

<%= form_tag(restaurants_search_path, method: :get) do %>
	<%= text_field_tag :search %>
	<%= submit_tag "Search" %>
<% end %>

<small>Into the following table, you must list the restaurants that user found (remove this suggestion)</small>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @restaurantes.each do |r| %>
		<tr>
			<td><%= r["name"]%></td>
			<td><%= r["categories"][0]["name"]%></td>
			<td>button_tag(type: 'button') do
			end
			# => <button name="Favorito" type="submit">Favorito</button></td>
		</tr>
		<% end %>
	</tbody>
</table>
